apiVersion: v1
kind: ServiceAccount
metadata:
  name: h8s-ingress-controller
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: h8s-ingress-controller-role
rules:
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["services", "endpoints"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: h8s-ingress-controller-binding
subjects:
  - kind: ServiceAccount
    name: h8s-ingress-controller
    namespace: default
roleRef:
  kind: ClusterRole
  name: h8s-ingress-controller-role
  apiGroup: rbac.authorization.k8s.io
